body {
  background-color: rgb(51, 61, 73);
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #1f1c1c;
  display: flex;
  height: 100px;
  justify-content: center;
  top: 0;
}

.page-title {
  color: #ca0d00;
  font-family: fantasy;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.movie-list {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 30px;
}

.addCard {
  background-color: rgb(202, 36, 36);
  border-radius: 10%;
  color: white;
  padding: 10px;
}

.movie-card {
  background-color: rgba(241, 241, 241, 0.356);
  border: 1px solid rgba(223, 9, 9, 0.932);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card:hover {
  transform: scale(1.2);
  transition-duration: 0.8s;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  color: white;
  font-size: 14px;
  text-align: justify;
}

.movie-card-link {
  background-color: rgb(201, 46, 19);
  border-radius: 10%;
  color: white;
  padding: 10px;
}

.movie-details {
  background-color: rgba(241, 241, 241, 0.356);
  border: 1px solid rgba(223, 9, 9, 0.932);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}
